body {
  background: #000000;
  color: #fff;
}

.navbar {
  background: #000000 !important;
}

.hero-section {
  background: #000000;
}

.btn-info {
  background: #00e6ff;
  border: none;
}

.btn-info:hover {
  background: #00b8cc;
}

.text-info {
  color: #00e6ff !important;
} 